@import "~bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
@import './scss/base.scss';
@import './scss/typography.scss';

a {
  text-decoration: none;
}

header {
  background-color: #3B4256;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-brand {
  font-size: 20px;
  justify-content: flex-start;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.svg-nav {
  margin-right: 8px;
  height: 24px;
}

.svg-brand {
  margin-right: 12px;
}

.nav-item {
  margin-right: 24px;
  line-height: 1.7;
}

.navbar-dark .navbar-brand {
  color: $navText;
}

.navbar-dark .navbar-nav .nav-link {
  color: $navText;
}

.navbar {
  padding:0;
}

.minIconBlock {
  color: $ink;
}

h5 {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}

h6 {
  padding: 0;
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.43;
}

.minIcon {
  margin-right: 16px;
}


.navbar-expand-lg .navbar-nav .nav-link {
 padding-right: 0;
 padding-left: 0;
}

.nav-link {
display: block;
padding: 0;
}

.More {
  width: 22px;
  height: 24px;
  object-fit: contain;
}

.second-header {
  .nav-link {
    color: $ink;
    font-size: 16px;
    font-weight: 500;

  }
}

.bg-light {
  background-color: $white !important;
}

hr {
  margin-top: 0;
  margin-bottom: 64px;
  height: 1px;
  background-color: $silver;
}

.breadcrumb {
  background-color: $white;
  padding: 0;
  margin-bottom: 24px;
  background-color: $white;
  text-decoration: none;
  a {
    color: #848e99;
  }
  .active {
    color: #848e99;
  }
}

@media (max-width: 992px) {
    hr {
      margin-bottom: 10px;
      margin-top: 5px;
    }

    ul {
      margin-top: 24px;
      padding-inline-start: 0;
    }
}

@media (min-width: 993px) {
  .current {
    padding-bottom: 10px;
    border-bottom: 2px solid $main;
  }
}

h3 {
  color: $ink;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

.v-divider{
 border-right:1px solid $navText;
}

.row-1 {
  ul {
    a {
        color: $ink;
    }
    line-height: 2;
    list-style: none;
  }
}

.openMinistryText {
  font-size: 24px;
  line-height: 32px;
  color: $ink;
}

.row-2 {
  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
    margin-top: 12px;
    line-height: 45px;
    font-size: 18px;
  }
}

.targetText {
  margin-top: 12px;
  font-size: 18px;
  line-height: 26px;
}
