@import "~bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
@import './scss/base.scss';
@import './scss/typography.scss';

a {
  text-decoration: none;
}

header {
  background-color: #3B4256;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-brand {
  font-size: 14px;
  line-height: 1.43;
  justify-content: flex-start;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.svg-nav {
  margin-right: 8px;
  height: 24px;
}

.svg-brand {
  margin-right: 12px;
}

.nav-item {
  margin-right: 24px;
  line-height: 1.43;
  font-size: 14px;
}

.navbar-dark .navbar-brand {
  color: $navText;
}

.navbar-dark .navbar-nav .nav-link {
  color: $navText;
}

.navbar {
  padding:0;
}

.minIconBlock {
  color: $ink;
}

h5 {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}

h6 {
  padding: 0;
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.43;
}

.minIcon {
  margin-right: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link {
 padding-right: 0;
 padding-left: 0;
}

.nav-link {
  display: block;
  padding: 0;
}

.More {
  width: 22px;
  height: 24px;
  object-fit: contain;
}

.second-header {
  .nav-link {
    color: $ink;
    font-size: 16px;
    font-weight: 500;

  }
}

.bg-light {
  background-color: $white !important;
}

hr {
  margin-top: 0;
  margin-bottom: 64px;
  height: 1px;
  background-color: $silver;
}

.breadcrumb {
  background-color: $white;
  padding: 0;
  margin-bottom: 24px;
  background-color: $white;
  text-decoration: none;
  a {
    color: $darkGray;
  }
  .active {
    color: $darkGray;
  }
}

@media (max-width: 992px) {
    hr {
      margin-bottom: 10px;
      margin-top: 5px;
    }

    ul {
      margin-top: 24px;
      padding-inline-start: 0;
    }
}

@media (min-width: 993px) {
  .current {
    padding-bottom: 10px;
    border-bottom: 2px solid $main;
  }
}

h3 {
  color: $ink;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

.v-divider{
 border-right:1px solid $navText;
}

.row-1 {
  ul {
    a {
        color: $ink;
    }
    line-height: 2;
    list-style: none;
  }
}

.openMinistryText {
  font-size: 24px;
  line-height: 32px;
  color: $ink;
}

.row-2 {
  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
    margin-top: 12px;
    line-height: 45px;
    font-size: 18px;
  }
}

.targetText {
  margin-top: 12px;
  font-size: 18px;
  line-height: 26px;
}

.gosuslugi {
  margin-top: 80px;
  background-color: $yourHighness;
}

.section-label {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 32px;
  line-height: 1.25;
  color: $ink;
}

.icon-right {
  margin-left: 28px;
}

.gos-card {
  background-color: $white;
  padding: 30px 32px 32px 32px;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 32px;
  border-radius: 4px;
  footer {
    color:$darkGray;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }
  a {
    text-decoration: none;
    color: $ink;
  }
}

.stack {
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .gosuslugi {
    margin-top: 40px;
  }
  .stack {
    padding-bottom: 40px;
  }
  .uslugi-label {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.gos-card:last-child {
  padding-right: 0;
}

.gosuslugi-svg {
  margin-right: 32px;
}

.out-link {
  position: absolute;
  top: 0;
  right: 15px;
}

.popular-data {
  padding-bottom: 80px;
  background-color: $white;
  .rating{
    position: absolute;
    left: 24px;
    top: 32px;
    .rating-digits {
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
    }
    .down {
      transform: rotate(-90deg);
      fill: $darkGray;
    }
    .up {
      transform: rotate(90deg);
    }
  }
  .popular-block {
    background-color: $yourHighness;
    font-size: 18px;
    line-height: 1.44;
    border-radius: 4px;
    color: $ink;
    padding: 32px 64px 33px 72px;
    margin-bottom: 24px;
    .popular-block-label {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 1.44;
    }
    .popular-block-text {
      font-size: 14px;
      line-height: 1.43;
      color: $darkGray;
      margin-bottom: 39px;
    }
    footer {
      font-size: 14px;
      line-height: 1.43;
      color: $darkGray;
    }
  }

  .popular-block-data {
    color: $ink;
    background-color: $white;
    font-size: 14px;
    line-height: 1.43;
    border: solid 1px $silver;
    padding: 8px 32px 32px 32px;
    .block-data-label {
      margin-bottom:8px;
      margin-top:24px;
    }
    .data-digits {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  .download {
    font-size: 14px;
    line-height: 1.43;
    color: $darkGray;
    display: inline;
    position: absolute;
    bottom: 32px;
    right: 32px;
    .download-image {
      margin-left: 12px;
    }
  }
}

.popular-buttons {
  margin-top: 20px;
  .left{
    margin-right: 16px;
  }
  .right {
    transform: rotate(180deg);
  }
}

.schedule {
  color:$ink;
  hr {
    margin-bottom: 0;
  }
  .section-label {
    padding-bottom: 50px;
  }
  .avatar {
  width: 76px;
  height: 76px;
  margin-right: 32px;
  }
  .name {
      font-size: 18px;
       line-height: 1.44;
       font-weight: 500;
       margin-bottom: 8px;
  }
  .position {
        height: 24px;
        line-height: 1.5;
        margin-bottom: 24px;
  }
  .days {
      font-size: 14px;
      line-height: 1.43;
      color: $darkGray;
      margin-bottom: 18px;
  }
  button {
      line-height: 1.5;
      height: 24px;
      width: 187px;
      height: 48px;
      border-radius: 4px;
      background-color: $yourHighness;
  }
}
