@import "~bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
@import './scss/base.scss';
@import './scss/typography.scss';


header {
  background-color: #3B4256;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-brand {
  font-size: 20px;
  justify-content: flex-start;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.svg-nav {
  margin-right: 8px;
  height: 24px;
}

.svg-brand {
  margin-right: 12px;
}

.nav-item {
  margin-right: 24px;
}

.navbar-dark .navbar-brand {
  color: $navText;
}

.navbar-dark .navbar-nav .nav-link {
  color: $navText;
}

.navbar {
  padding:0;
}

.minIconBlock {
  color: $ink;
}

h5 {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}

h6 {
  padding: 0;
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.43;
}

.minIcon {
  margin-right: 16px;
}


.navbar-expand-lg .navbar-nav .nav-link {
 padding-right: 0;
 padding-left: 0;
}

.nav-link {
display: block;
padding: 0;
}

.More {
  width: 22px;
  height: 24px;
  object-fit: contain;
}

.second-header {
  .nav-link {
    color: $ink;
    font-size: 16px;
    font-weight: 500;
    
  }
}

.bg-light {
  background-color: $white !important;
}
